# Paytm Business Keyless Gateway Config
PAYTM_UPI_ID=paytm.s3qmd4q@pty
PAYTM_MERCHANT_NAME=iq4u8
PAYTM_MID=tDFdWE24246438472956
KEYLESS_MODE=true
AUTO_APPROVE_KEYLESS=false
MAX_SCREENSHOT_AGE_HOURS=24
VERIFY_BENEFICIARY_NAME=true
BLOCK_DUPLICATE_IMAGES=true
NOTIFY_SECRET=iq4u8_secret_7788
ADMIN_TOKEN=iq4u8_admin_99
PORT=8000
